Source: dehydrated-mythic-dns01
Section: admin
Priority: optional
Maintainer: Mythic Beasts Ltd <support@mythic-beasts.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/mythic-beasts/dehydrated-mythic-dns01

Package: dehydrated-mythic-dns01
Architecture: all
Depends: ${misc:Depends}, dehydrated, dnsutils, jq
Description: dehydrated hooks for using the Mythic Beasts DNS API
 These are hook scripts for the dehydrated client for verifying Let's Encrypt
 SSL certificates using DNS validation with the Mythic Beasts DNS API. A
 step-by-step guide to using this script can be found on the Mythic Beasts
 website. The script was originally written by David Earl.
